body {
	margin: auto;
	background-image: url(../images/MainBackground.png)  ;
}

.container {
	width: 1000px;
	margin: auto auto;
}

.wrap {
	width: 100%;
	background-color: white;
	padding: 0;
	margin: 0 0 0 0:
}

#tophr {
	margin: 0 0 0 0;
	background-color: lightgrey;
	height: 2px;
	border: none;
}

header {
	float: right;
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: white;
	padding: 30px 0px;
}

h1 {
	background-color: #4aaaa5;
	color: white;
	width: 200px;
	height: 38px;
	text-align: center;
	margin: 0 0 0 0;
	padding: 25px;
}

img {
	float: left;
}

h2 {
	color: #4aaaa5;
}

p, a {
	font-family: 'Ariel', 'Helvetica Neue', Helvetica, sans-serif
}

#main-bio {
	background-color: white;
	width: 960px;
	margin: auto auto;
	padding: 0px 20px 20px 20px;
	line-height: 50px;
	border: 2px solid #dddddd;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #666666;
	border-top: 6px solid #4aaaa5;
	text-align: center;
	color: white;
	font-size: 8px;
	padding: 20px;
}